.petitionBox {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    overflow: hidden;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem
}

.petitionText {
    padding: 25px;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}

.petitionInnerBox {
    display: flex;
    align-items: center;
}

.black {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}


.gray {
    background-color: gray;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.yellow{
    background-color: yellow;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.blue{
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.red{
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.green{
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.petitionButton{
    border: 2px green solid;
    border-radius: 15px;
    padding: 2px;
    margin-right: 10px;
}