.outerBox{
    padding: 50px;
}

.editName {
    width: 65%;
    margin-bottom: 15px;
}

.editDescription {
    width: 100%;
    height: 300px;
    vertical-align: top;
    text-align: left;
}

.editBox {
    display: flex;
    justify-content: space-between;
}

.editButton{
    margin-top: 30px;
    padding: 10px;
    background: white;
    overflow: hidden;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem;
    border: 1px lightblue solid;
}
