.headerBox {
    display: flex;
    justify-content: space-between;
}

.signCount {
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
}

.petitionIsPaid{
    background-color: lightblue;
    color: white;
    font-size: large;
    border-radius: 15px;
    padding: 2px;
    margin-right: 10px;
}

.petitionIsNotPaid{
    border: 2px solid red;
    font-size: large;
    border-radius: 15px;
    padding: 2px;
    margin-right: 10px;
}


.topBox {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.descriptionBox {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    overflow: hidden;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem
}

.descriptionText {
    padding: 25px;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity))
}

.infoBox {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    overflow: hidden;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem
}

.signedButton {
    margin-left: 30px;
    padding: 10px;
    background: lightblue;
    overflow: hidden;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem;
    color: black;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.answerBox {
    padding: 10px;
    background: white;
    width: 95%;
    max-width: 95%;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem
}

.answerText {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 10px;
}

.signHeader {
    font-size: 20px;
    margin-bottom: 25px;
}

.signBox {
    margin: 30px;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    overflow: hidden;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem
}

.signName {
    font-size: 18px;
    text-align: left;
}

.black {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}


.gray {
    background-color: gray;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.yellow{
    background-color: yellow;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.blue{
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.red{
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}

.green{
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 1px 7px;
    text-align: center;
}