.outerBox{
    padding: 50px;
}

.editName {
    width: 65%;
}

.editDescription {
    margin-top: 15px;
    width: 100%;
    height: 300px;
    vertical-align: top;
    text-align: left;
}

.editBox {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.errorText{
    color: red;
}
