.statusBox {
    display: flex;
    justify-content: center;
}

.optionsBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topBox {
    padding: 10px 30px;
}

.item {
    margin: 5px;
    padding: 5px;
  }
.active {
    border: solid 1px black;
    border-radius: 70px;
}
  
.pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 1000px;
}

.multiSelect {
    background-color: white;
    border: 1px black solid;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 200px;
}

.multiSelectItem {
    margin-bottom: 5px;
    padding-left: 5px;
}

.createButton {
    margin-top: 30px;
    padding: 10px;
    background: white;
    overflow: hidden;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.5rem;
    border: 1px lightblue solid;
}

