.statusBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.optionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chronoBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.chronoItem {
    margin-bottom: 15px;
}

.searchMultiSelectBox {
    width: 55%;
}

.topBox {
    padding: 10px 30px;
}

.item {
    margin: 5px;
    padding: 5px;
  }
.active {
    border: solid 1px black;
    border-radius: 70px;
}

.userSearchOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
  
.pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 1000px;
}




