.outerBox{
    padding: 50px;
}

.userHeader{
    font-size: large;
    font-weight: 700;
}

.item {
    margin: 5px;
    padding: 5px;
}
.active {
    border: solid 1px black;
    border-radius: 70px;
}

.pagination {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 1000px;
}
